capacity_list.exe
cycle-detect.exe
cycle-detect.exe
element_access.exe
input.txt
list_constructor.exe
modifiers_function.exe
operation_function.exe
output.txt
reverse_doubly_linklist.exe
reverse_singly_linklist.exe